~$*.SLDPRT
~$*.SLDASM
ToDo.txt
Assembling manual.docx
Encoder/Encoder.b#*
Encoder/Encoder.s#*
Encoder/EncoderLib.l#*
Render/cnc_milling_carriage_v1.IGS
Render/*.*
Drawings/~$*.SLDDRW
CNC Milling Carriage.drawio
Drawings/CARRIAGE_BOM.xls
*.bak
3D/PerformanceLog.txt
3D/*.MFC
3D/*.LOG
